@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

html,
body {
  height: 100%;
}
body {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
